/*Home page picture*/
.home-page-picture-container {
    width: auto;
    height: 900px;
    overflow: hidden;
    position: relative;
}

.home-page-picture {
    width: 100%;
    object-fit: cover;
}

/*REapp logo container*/

.reapp-logo-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 5%;
    font-size: 10em;
    color: white;
    transform: translate(0%, -50%);
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
}

/*Log in container*/

.log-in-container {
    position: absolute;
    width: 35%;
    height: 60%;
    border-radius: 20px;
    z-index: 9999;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
    background-color: thistle;
}

.log-in-container > h2 {
    margin: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
}

.log-in-form {
    text-align: center;
}

.input-field {
    width: 80%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
    padding-left: 10px;
    text-align: center;
}

/* Button CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 20px;
  height: 65px;
  width: 300px;
  margin: 20px 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}