/*----------Google Fonts----------*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.home-page-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo-styling {
  width: auto;
  height: 25vh;
}

.create-user-container {
  background-color: black;
  font-size: 2.5em;
  width: 25vw;
  height: auto;
  border-radius: 25px;
}

.input-field {
  width: 10vw;
  margin: 10px;
  margin-bottom: 0;
}