.display-mode {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.user-profile-header {
  background-color: #3498db;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile-header h1 {
  margin: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgb(255, 255, 255);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  border: 0.1rem solid #ddd;
  padding: 4rem;
}

.h2Style {
  color: #333;
  font-size: 3rem;
  margin-bottom: 3%;
  width: 50%;
}

.labelStyle {
  display: block;
  margin-top: 2rem;
}

.textareaStyle {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-rows: auto, auto, auto, auto, auto, auto, auto;
  grid-gap: 10px;
}

.item2 {
  grid-row-start: 2;
}
.item3 {
  grid-row-start: 3;
}
.item4 {
  grid-row-start: 4;
}
.item5 {
  grid-row-start: 5;
}
.item6 {
  grid-row-start: 6;
}
.item7 {
  grid-row-start: 7;
}

.itemStyle {
  border: 0.1rem solid #ddd;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1rem; /* Add some space between items */
}
